
  <p>
    {{message}}
  </p>

  <div class="ui list">
    {{#each note in model}}
      <div class="item">
        {{note.title}}  {{note.body}}
        <div class="ui basic button">
          <button {{action "deleteNote" note}}>Delete</button>
        </div>
      </div>

    {{/each}}
  </ul>

  <p>
    <div class="ui input">
      {{input value =newTitle placeholder="Add a title"}}
    </div>
  </p>

  <p>
    <div class="ui small form">
      <div class="field">
        <div class="four wide field">
        {{textarea value=newBody placeholder="Add a note"}}
        </div>
      </div>
    </div>
  </p>

  <p>
    <div class="ui basic button">
      <button {{action "create"}}>Add Note</button>
    </div>
  </p>
